<p id="notice"><%= notice %></p>

<h3>Buscador</h3>
<%= form_tag(root_path, method: :get, remote: true) do %>
  <%= text_field_tag :q, nil, placeholder: 'Buscar...' %>
  <%= submit_tag 'Buscar' %>
<% end %>

<h1>Posts</h1>

<%= render 'form', post: @post%>

<% @rand = { post: {title: 'post random', content: 'post random'}} %>
<%= link_to 'crear post random', @rand, method: :post, remote: true %>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Content</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody id='my_posts'>

    <% @posts.each do |post|%>
      <tr id="post_<%= post.id %>">
        <%= render post %>
      </tr>
    <% end %>

  </tbody>
</table>

<br>

<%= link_to 'New Post', new_post_path %>
